{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
    <title>Quiz - DevPro</title>
    <link rel="stylesheet" href="{% static 'base/assets/styles/app.css' %}"/>
</head>
<body>
    <div class="login-page">
        
        <p class="subtitle-quiz">Quiz</p>
        <p class="subtitle-page">Dev Pro</p>
        <div class="form">
            <form class="login-form" method="post" action="">
                <input type="text" name="nome" placeholder="{{ form.nome.label }}" value="{{ form.nome.data|default:'' }}" />
                {% for error in form.nome.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {{ form.idade.label_tag }}
                {{ form.idade }}
                {{ form.email.label_tag }}
                {{ form.email }}
                Sexo:
                {{ form.sexo }}
                Hobbies:
                {{ form.hobbies }}
                
                {% csrf_token %}
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>